.product-boxs {
  width: calc(25% - 30px);
  padding: 0;
  margin: 0 15px 30px;
  background: #fff;
  border-radius: 5px;
}

.product-boxs .img {
  display: block;
  padding-bottom: 100%;
  position: relative;
  border-bottom: solid 1px #eee;
  margin-bottom: 15px;
}

.product-boxs .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
}

.product-boxs h3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  color: #000;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0 15px;
  font-weight: 600;
}

.product-boxs h3 span.price {
  margin-left: auto;
  font-weight: 800;
  font-size: 18px;
}

.product-boxs p {
  display: block;
  font-size: 12px;
  color: #000;
  line-height: 1.4;
  margin: 0 0 20px;
  padding: 0 15px;
  font-weight: 400;
  min-height: 68px;
}

.product-boxs .buttons {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #eee;
}

.product-boxs .buttons .icon {
  width: 50%;
  border-right: solid 1px #eee;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
}

.product-boxs .buttons .icon svg {
  display: block;
  width: 20px;
  height: 20px;
}

.product-boxs .buttons .icon:last-child {
  border-right: 0;
}

@media (max-width: 991px) {
  .product-boxs {
    width: calc(33.33% - 30px);
  }
}

@media (max-width: 767px) {
  .product-boxs {
    width: calc(50% - 30px);
  }
}

@media (max-width: 567px) {
  .product-boxs {
    width: 100%;
    margin: 0px 0 30px;
  }
}