.header {
  background: #171717;
  padding: 15px 0;
  display: block;
}

.header .header-boxs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.header .logo svg {
  fill: #fff;
  margin: 0 10px 0 0;
}

.header .addtolist-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: auto;
  background: #fff;
  border-radius: 4px;
  padding: 15px 20px;
  line-height: 1;
}

.header .addtolist-btn span {
  margin-left: 5px;
}

@media (max-width: 567px) {
  .header .logo {
    font-size: 16px;
  }
}