.addtolist-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: auto;
  background: #fff;
  border-radius: 4px;
  padding: 15px 20px;
  line-height: 1;
  max-width: 128px;
  cursor: pointer;
  margin-bottom: 20px;
}

.productlist-bg {
  display: block;
  padding: 50px 0 0;
}

.productlist-bg .product-list {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 567px) {
  .productlist-bg {
    padding: 30px 0 0;
  }
  .productlist-bg .product-list {
    margin: 0px;
  }
  .addtolist-btn {
    padding: 10px 15px;
    font-size: 12px;
  }
}
