.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.form-container .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container .buttons button {
  background: transparent;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}