*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #212121;
  font-size: 14px;
  color: #fff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.fa-secondary {
  opacity: 0.4;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
